h2 {
    text-align: center;
    color: #333;
  }
  
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  input {
    margin: 5px;
    padding: 8px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  select{
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 20%;
  }
  button {
    margin-top: 10px;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  button:first-of-type {
    background-color: #28a745;
    color: white;
  }
  
  button:last-of-type {
    background-color: #dc3545;
    color: white;
  }
  
  table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #007bff;
    color: white;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .edit-container {
    text-align: center;
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px;
    background-color: #f8f9fa;
  }
  